body{
    overflow-y: hidden;
}
.main{
    width:100%;
    display: flex;
}
ul,pre{
    list-style: none;
    margin: 0;
    padding:0;
}
header h1{
    font-size: 2em;
    background-image:linear-gradient(to bottom, #e96443, #904e95);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
aside{
    /* flex: .3; */
    position: relative;
    width:19%;
    height: 100vh;
    padding:20px 30px;
    box-shadow: 10px 0 30px #eee;
}
.body{
    flex:1;
    display: flex;
    position: relative;
}
i{
    font-style: normal;
}
nav{
    padding:0 10px;
    margin:15px 0;
    border-left:2px solid #9832d8;
}
button,input,textarea{
    padding:10px 15px;
    border:1px solid #9832d8;
}
button,.file-wrap{
    width:100%;
    color:#fff;
    background-color: #9832d8;
}
.path{
    width: 100%;
    box-sizing: border-box;
}
.file-wrap{
    position: relative;
    height: 45px;
    line-height: 45px;
    /* border-radius: 5px; */
    text-align: center;
}
.file-wrap input,button{
    cursor: pointer;
}
.file-wrap input{
    width:93%;
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
}
.file-drop{
    padding:20px 0;
    text-align: center;
    border: 1px dashed #ccc;
    /* border-radius: 5px; */
}
.file-drop i{
    color:#ccc;
    font-family: wingdings;
    font-size: 5.5em;
    display: block;
}
.api-path{
    margin-top: 10px;
}
.f-dn{
    display: none;
}
.api-json{
    font-family: Consolas;
    /* font-size: 14px; */
    flex:.3;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: scroll;
    position: relative;
}
.api-json div{
    content-visibility: auto;
    contains-intrinsic-size:121px;
}
.api-json p{
    display: flex;
    align-items: center;
    margin: 0;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
.api-json p:hover{
    background-color: #fafafa;
}
.api-json img{
    width:100px;
    margin: 10px 20px;
}
.json-show{
    flex:0;
}
.svg-container{
    width:600px;
    padding: 20px 0;
    /* background-color: red; */
}
.svg-wrap{
    flex:1;
}
.svg-list{
    max-height: 62vh;
    overflow-y: scroll;
}
.svg-list li{
    max-width:500px;
    white-space: wrap;
    word-break: break-all;
    padding:20px 0
}
.svg-list li:hover,.api-json div.active,.api-json p.active{
    background-color: antiquewhite;
}
.svg-list li.active a{
    color:red;
}
.svg-list li:hover a,.api-json p.active{
    color: #eb8629f8;
}
.preview{
    width:400px;
    height: 300px;
    object-fit: contain;
    background-color: #ececec;
    border-radius: 5px;
}
.recover{
    position: absolute;
    top:10px;
    right: 10px;
    margin:0;
    padding:10px;
    font-size: 14px;
    background-color: #eee;
    border-radius: 5px;
}
.f-fs12{
    font-size: 12px;
}
.vp-spin{
    z-index: 100;
    left:25%;
    width:80px;
    opacity: 0;
    transition: opacity .5s;
}
.body div.show{
    opacity: 1;
}
canvas{
    width:80%;
    display: block;
    margin:auto;
    height:auto;
    background:#000;
    /* url(https://tt-ugc-cdnqn.52tt.com/images-oss/147-8805473-6012a3a302cb760e09affac6cff859ca?imageView2/1/w/810/h/1753) no-repeat center center/cover; */
}
#imgBox{
    width:300px;
}
.progress{
    height: 10px;
    width:100%;
    overflow-x: hidden;
    position: relative;
    margin:60px auto 0;
    border-radius: 5px;
    background-color: #ccc;
}
.progress i{
    display: inline-block;
    position: absolute;
    height: 10px;
    background-color: #e96443;
}
.dialog{
    width:20%;
    height: 200px;
    margin-top: 15%;
    border:none;
    /* overflow-y: hidden; */
}
.dialog-list{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 600px;
}
.dialog-list li{
    margin:0 9px 5px 0;
}
.dialog-list li img{
    width:180px;
    height: 240px;
    object-fit: contain;
}
.dialog-title{
    display: flex;
    align-items: center;
}
.dialog-foot{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.dialog-title h2{
    flex:1
}
.dialog-btn{
    width:150px; 
}
.dialog-btn:disabled{
    opacity: .5;
    pointer-events: none;
    cursor: not-allowed;
}
.dialog-close{
    font-family: 'webdings';
    font-size: 18px;
    width:50px;
}
.dialog-title-num{
    font-size: 16px;
    font-weight: normal;
    color: #666;
}
.nav label{
    display: inline-block;
    border: 1px solid #e38de9;
    border-radius: 3px;
    padding: 5px 10px;
    color: #e38de9;
    cursor: pointer;
}
.nav label.on{
    background-color: #e38de9;
    color:#fff;
}